<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My welcome page</title>
</head>
<body>

<h1>First impression of my page</h1>

<!--/*thymesVar id="variable" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${variable}"></span>

<br>

<!--/*thymesVar id="comp1" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*thymesVar id="comp2" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<!--/*thymesVar id="comp3" type="com.crud.tasks.controller.StaticWebPageController"*/-->
<span th:text="${comp1} + ' * ' + ${comp2} + ' = ' + (${comp1} * ${comp2})"></span>

<br>

<span th:text="${comp1} + ' * ' + ${comp2} + ' + ' + ${comp3} + ' = ' + (${comp1} * ${comp2} + ${comp3})"></span>

<br>
<span th:text="${comp1} + ' - ' + ${comp2} + ' * ' + ${comp3} + ' = ' + (${comp1} - ${comp2} * ${comp3})"></span>

</body>
</html>